@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: Outfit;
}

.active hr{
    @apply block
}

::-webkit-scrollbar{
  @apply hidden

}
@media(max-width:740px){
  .active p{
    @apply text-white bg-primary
  }
}



/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:Outfit ;
} */

/* .app{
  width: 20px;
  margin: auto;
} */
@keyframes fadeIn{
  0%{
    opacity:0 ;
  }
    100%{
      opacity: 1;
    }
  }